*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  font-size: clamp(2rem, 1.6875rem + 1vw, 2.25rem);
}

body {
  font-family: monospace;
}

button {
  font-family: inherit;
  font-size: inherit;
  background-color: transparent;
  border: none;
  cursor: pointer;
}


.container {
  margin: 0 auto;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
}

.btn {
  font-size: 0.5rem;
  cursor: pointer;
  border: 2px solid coral;
}

.btn:disabled {
  opacity: 0.5;
  cursor: initial;
}

.btn::before {
  content: "[";
}

.btn::after {
  content: "]";
}

.status {
  font-size: 0.5rem;
}

.row {
  display: grid;
  grid-template-columns: repeat(10, 1em);
}

.fields {
  display: flex;
  gap: 0.5em;
  flex-direction: column;
  align-items: end;
}

.reversed {
  flex-direction: column-reverse;
}

.small {
  font-size: 0.5rem;
}

.square {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1em;
  height: 1em;
}

.square:hover {
  color: coral;
}